.team_card_container {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.card_image {
  width: 160px;
  height: 160px;

  background-color: #000;
  border-radius: 16px;
  text-align: center;
}

.name_label {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 27px;
  margin-left: 1rem;
  margin-top: 0.5rem;
  /* identical to box height */

  color: #ffffff;
}

.name_label img {
  width: 0.75rem;
  margin-left: 0.5rem;
}

.position_label {
  font-family: "Libre Franklin";
  font-style: normal;
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
