.navbar_logo {
  height: 1.75rem;
}

.navbar {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_socials {
  display: none;
}

.navbar_options {
  display: flex;
}

.navbar_item {
  margin: 0.25rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.nav_bar {
  display: none;
  position: absolute;
  top: 3.7rem;
  left: 0;
  width: 100%;
  background-color: var(--bgcolor);
  text-align: center;
}

.nav_bar.responsive {
  display: block;
}

@media only screen and (min-width: 1000px) {
  .navbar_socials {
    display: block;
  }
  .navbar_item {
    font-size: 1rem;
    margin: 1.5rem;
  }

  .navbar_social {
    margin-right: 0.5rem;
  }
  .main_container {
    max-width: 1300px;
    display: block;
    margin: auto;
  }
}
