.navbar_logo {
  height: 1.75rem;
}

.navbar {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_options {
  display: flex;
}

.navbar_item {
  margin: 0.5rem;
}

@media only screen and (min-width: 1000px) {
  .main_container{
    max-width: 1300px;
    display: block;
    margin: auto;
  }
}
